* {
    -fx-font-family: Tahoma Arial "Comic Sans MS"
}

/* Start Title Header Style */

.title-header {
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, #2196f3 50%);
    -fx-font-family: Tahoma;
    -fx-font-size: 36px;
}

/* End Title Header Style */

/* Start Button Style */

JFXButton {
    -fx-font-weight: bold;
    -fx-background-color: #2196f3;
    -fx-text-fill: white;
    -fx-cursor: hand
}
JFXButton:hover {
    -fx-background-color: white;
    -fx-text-fill: #2196f3;
    -fx-border-color: #2196f3
}
JFXButton:pressed {
    -fx-background-radius: 22;
    -fx-font-weight: bold;
    -fx-background-color: white;
    -fx-rotate: 10
}

.btn-smaller {
    -fx-background-radius: 22;
    -fx-font-size: 12
}
.btn-smaller:hover {
    -fx-background-radius: 22;
    -fx-font-size: 12;
    -fx-border-radius: 22;
    -fx-border-width: 2
}
.btn-smaller:pressed {
    -fx-font-size: 12;
    -fx-border-radius: 22;
    -fx-border-width: 2
}

.btn-medium {
    -fx-background-radius: 26;
    -fx-font-size: 20;
}
.btn-medium:hover {
    -fx-background-radius: 22;
    -fx-font-size: 20;
    -fx-border-radius: 24;
    -fx-border-width: 3
}
.btn-medium:pressed {
    -fx-font-size: 20;
    -fx-border-radius: 24;
    -fx-border-width: 3
}

 /* Button Style 2 */
.btn-view {
    -fx-cursor: hand;
    -fx-background-color: #FFF;
    -fx-text-fill: #000;
    -fx-font-weight: normal;
    -fx-border-color: #2196f3;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-border-style: solid;
    -fx-font-size: 18px;
    -fx-background-radius: 10px;
}

.btn-view:hover {
    -fx-background-color: #2196f3;
    -fx-text-fill: #000
}

/* End Button Style */

/* Start Combo Box */

.combo-smaller {
    -fx-font-size: 16px
}

.combo-medium {
    -fx-font-size: 18px
}

.combo-medium:hover {
    -fx-cursor: hand
}

/* End Combo Box */

/* Start Text Field */

.field {
    -fx-font-size: 18px
}

/* End Text Field */

DatePicker {
    -fx-font-size: 16px
}

/* Start SnackBar */

.jfx-snackbar-content {
    -fx-background-color: #F00;
    -fx-pref-width: 423
}
.jfx-snackbar-toast {
    -fx-text-fill: #FFF;
    -fx-font-size: 18px;
    -fx-font-family: Tahoma
}
/* End SnackBar */

/* Start Icon Close */
    
.icon-close:hover {
    -fx-cursor: hand;
    -fx-fill: #FF3D22
}

/* End Icon Close */

/* Start error label */

#errorLabel {
    -fx-text-fill: #F00;
    -fx-font-size: 25px
}

/* End error label */
 
.titleUserLabel {
    /* This style for the name of user showing in dialog of stat */
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, #2196f3 50%);
}