.about-box {
    -fx-background-color: #FFF;
    -fx-padding: 30px
}

.header-title {
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, #2196f3 50%);
    -fx-font-family: Tahoma;
    -fx-font-size: 36px;
}

.label-info {
    -fx-font-size: 18px
}

.label-info:hover {
    -fx-text-fill: #242A39;
    -fx-font-size: 20px
    
}

.font-about {
    -fx-fill: #333
}

.font-about:hover {
    -fx-fill: #2196f3
}


/* Start icon style */

.font-social-media {
    -fx-fill: #666
}

.font-social-media:hover {
    -fx-cursor: hand
}

.icon-github:hover {
    -fx-fill: #D0E;
}

.icon-fb:hover {
    -fx-fill: #2196f3;
}

.icon-yt:hover {
    -fx-fill: #D00;
}

.icon-in:hover {
    -fx-fill: #2196f3;
}

.icon-tw:hover {
    -fx-fill: #2196f3;
}

.icon-google:hover {
    -fx-fill: #D00;
}

.icon-insta:hover {
    -fx-fill: #080
}

/* End icon style */

.label-bottom {
    -fx-font-size: 22px;
    -fx-font-family: "Comic Sans MS";   
}