* {
    -fx-font-family: Tahoma arial "Comic Sans MS"
}

JFXButton {
    -fx-background-color: #2196f3;
    -fx-pref-width: 100px;
    -fx-pref-height: 50px;
    -fx-text-fill: #FFF;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-cursor: hand
}

.titleUserLabel {
    /* This style for the name of user showing in Stat */
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, #2196f3 50%)
}